body { 
	margin:0; 
	padding:0;
	font: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #000;
        background: #f1f1f1;
	text-align:center;
}
	
div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, blockquote {
    margin:0;
    padding:0;
}
	
article {
    width:70%;
    padding:2em;
    margin:auto;
    margin-top: 3em;
    text-align:left;
    color: #303030;
    background: #fff;
}
			
h1, h2, h3, h4, h5, h6 {
    line-height:1.2;
}
				
h1 {
    font-size:3em;
    margin-bottom:.8em;
    text-align: center;
}
		
h2 {
    font-size:2.4em;
    padding-bottom:.2em;
    border-bottom:1px solid #999;
    margin-top:1em;
    margin-bottom:.7em;
}
		
h3 {
    font-size:1.8em;
    margin-bottom:.7em;
}
		
p {
    font-size:1.3em;
    line-height:1.5;
    margin-bottom:1.3em;
}
		
ul, ol {
    font-size:1.3em;
    margin:0 0 1.3em 2em;
}
		
li {
    margin-bottom:.4em;
}

a {
    text-decoration: none;
    color: #4183c4;
}

a:hover {
    border-bottom: 1px solid #07b;
}
		
blockquote {
    font-size: 1.2em;
    padding-left:1em;
    border-left:3px solid #999;
    margin:2em 2em;
}
			
code {
    margin: 0 2px;
    padding: 0px 5px;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
}
                
footer {
    margin: 1em;
    font-size: 1.3em;
}
